language: node_js
node_js: 4
env:
 global:
  - CXX=g++-4.8
addons:
 apt:
  sources:
   - ubuntu-toolchain-r-test
  packages:
   - g++-4.8
cache:
  directories:
   - BusDriveApp/node_modules
   - BusDriveApp/platforms
   - BusDriveApp/plugins
before_install:
 - if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi
install:
 - cd BusDriveApp
 - npm install -g gulp
 #- npm install karma
 #- npm install jasmine
 - npm install -g cordova
 - npm install -g ionic@beta
 - npm install 
script: 
 - gulp test
after_script:
 - cat ./test/reports/coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
#after_success:
# - coveralls
#deploy:
# skip_cleanup: true
