<ion-navbar primary *navbar>
    <ion-title>{{title}}</ion-title>
</ion-navbar>

<ion-toolbar>
    <ion-segment [(ngModel)]="drive">
        <ion-segment-button value="driving">
            Drive
        </ion-segment-button>
        <ion-segment-button value="customstops" (click)="resetNewCustomStopsCounter()">
            <ion-badge secondary>{{newcustomstopscounter}}</ion-badge>
            New Custom Stops
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>

<ion-content class="drive">
    <div [ngSwitch]="drive">
        <form *ngSwitchWhen="'driving'">
            
                <table width="100%">
               <colgroup>
                    <col width="20%">
                    <col width="60%">
                    <col width="20%">
                </colgroup>
                    
                    <tr>
                        <td colspan="3" class="text" align="center">
                            <h3>{{passengers}}</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="buttonleft">
                                <button large (click)="decreasePassengers()" class="button_drive">
                                    <ion-icon name="remove"></ion-icon>
                                </button>
                            </div>
                        </td>
                        <td class="text">
                            <h2>{{counter}}</h2>
                        </td>
                        <td align="right">
                            <div class="buttonright">
                                <button large (click)="increasePassengers()" class="button_drive">
                                     <ion-icon name="add"></ion-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text">
                            <h3>Nächste Haltestelle:</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <div class="buttonleft">
                                <button large (click)="showPrevioustStop()" class="button_drive">
                                    <ion-icon name="arrow-back"></ion-icon>
                                </button>
                            </div>
                        </td>
                        <td class="text">
                            <h2>{{nextStop}} </h2>
                        </td>
                        <td align="right">
                            <div class="buttonright">
                                <button large (click)="showNextStop()" class="button_drive">
                                    <ion-icon name="arrow-forward"></ion-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            

            <ion-list>
                <ion-item-sliding *ngFor="let item of acceptedcustomstops">
                    <ion-item>
                        <h2>Name: {{item[1]}}</h2>
                        <p>Abholzeit: {{item[2]}} </p>
                        <p>Anzahl: {{item[3]}}</p>
                        <p>Adresse: {{item[4]}}</p>
                        <p>Informaton: {{item[5]}}</p>
                    </ion-item>
                    <ion-item-options>
                        <button primary (click)="completeAcceptedCustomStop(item)">
                            <ion-icon name="done-all"></ion-icon>
                                 Ausgeführt
                        </button>
                        <button primary (click)="noShowAcceptedCustomStop(item)">
                            <ion-icon name="sad"></ion-icon>
                                Kein Erscheinen
                        </button>
                    </ion-item-options>
                </ion-item-sliding>
            </ion-list>
        
        
        
        </form>
       
        <ion-list *ngSwitchWhen="'customstops'">
            <ion-item-sliding *ngFor="let item of linecustomstopsall">
                <ion-item>
                    <h2>Name: {{item[1]}}</h2>
                    <p>Abholzeit: {{item[2]}} </p>
                    <p>Anzahl: {{item[3]}}</p>
                    <p (click)="showCustomStop(item)">Adresse: {{item[4]}}</p>
                    <p>Informaton: {{item[5]}}</p>
                </ion-item>
                <ion-item-options>
                    <button primary (click)="acceptCustomStop(item)">
                            <ion-icon name="checkmark"></ion-icon>
                                 Akzeptieren
                        </button>
                    <button primary (click)="declineCustomStop(item)">
                            <ion-icon name="close"></ion-icon>
                                Ablehnen
                        </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </div>
</ion-content>