<ion-navbar primary *navbar>
    <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
    <ion-title>{{aboutTrans}}</ion-title>
</ion-navbar>

<ion-content class="about">
    <ion-list>
        <ion-item>
            <div class="platform"> {{findUs}} </div>
            <ion-card>
                <ion-list>
                    <button ion-item (click)="openFacebook('912830465460833')">
                        <ion-icon name="logo-facebook" item-left></ion-icon>
                            Facebook
                    </button>
                    <button ion-item (click)="openTwitter('https://twitter.com/digitaledoerfer')">
                        <ion-icon name="logo-twitter" item-left></ion-icon>
                            Twitter
                    </button>
                    <button ion-item (click)="openYouTube('https://www.youtube.com/channel/UC2z1kArBgoEwZ1I0oRfzt8Q')">
                        <ion-icon name="logo-youtube" item-left></ion-icon>
                            YouTube
                    </button>
                    <button ion-item (click)="openURL('http://www.digitale-doerfer.de')">
                        <ion-icon name="globe" item-left></ion-icon>
                            WWW
                    </button>
                </ion-list>
            </ion-card>
        </ion-item>
        <ion-item>
            <div class="version"> {{opinion}} </div>
            <ion-card>
                <button ion-item (click)="mailto('gseprojekt3@informatik.uni-kl.de')">
                        <ion-icon name="mail" item-left></ion-icon>
                             E-Mail
                </button>
            </ion-card>
        </ion-item>
        <ion-item>
            <div class="platform"> {{disclaimer}} </div>
            <ion-card>
                <ion-list>
                    <button ion-item (click)="openURL('http://www.digitale-doerfer.de/impressum')">
                        <ion-icon name="information" item-left></ion-icon>
                            {{imprint}}
                    </button>
                    <button ion-item (click)="openURL('http://www.digitale-doerfer.de/datenschutzerklaerung')">
                        <ion-icon name="information" item-left></ion-icon>
                            {{privacyPolicy}}
                    </button>
                    <button ion-item (click)="openLicense()">
                        <ion-icon name="information" item-left></ion-icon>
                            {{license}}
                    </button>
                </ion-list>
            </ion-card>
        </ion-item>
        <ion-item>
            <div class="version"> {{versionInfo}} </div>
            <ion-card>
                <button ion-item>
                        <ion-icon name="apps" item-left></ion-icon>
                            BusDriveApp 0.3.2
                    </button>
            </ion-card>
        </ion-item>
    </ion-list>
</ion-content>