<ion-navbar primary *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Settings</ion-title>
</ion-navbar>

<ion-content padding class="setting">
  <div class="spacer" style="width: 283px; height: 50px;"></div>
  <ion-item>
    <ion-label>Server IP: </ion-label>
    <ion-input [(ngModel)]="serverURL" type="url" id="serverURL" placeholder="http://localhost:3000"></ion-input>
  </ion-item>
  <button (click)="setServerURL(serverURL)">Set data</button>
  <div class="spacer" style="width: 283px; height: 50px;"></div>
  <button class="languageButton" (click)="changeLanguage()"> {{buttontext}} </button>
</ion-content>