<ion-navbar primary *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{settingTrans}}</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>{{langTrans}}</ion-label>
      <ion-select [(ngModel)]="lang" (ngModelChange)="changeLanguage(lang)" okText="Ok" cancelText={{cancelAlert}}>
        <ion-option value="en">English</ion-option>
        <ion-option value="de">Deutsch</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{serverAdressTrans}}</ion-label>
      <ion-select [(ngModel)]="serverURL" (ngModelChange)="setServerURL(serverURL)" okText="Ok" cancelText={{cancelAlert}}>
        <ion-option *ngFor="let url of serverURLList" value="{{url}}">{{url}}</ion-option>
      </ion-select>
    </ion-item>
    <div class="item item-input-inset">
      <ion-item>
        <ion-label>{{newServerAdressTrans}} </ion-label>
        <ion-input [(ngModel)]="url" type="url" id="serverURL">{{serverURL}}</ion-input>
      </ion-item>
      <button (click)="addToServerURLList(url)">
        <ion-icon name="add"></ion-icon>
      </button>
    </div>


    <!--<ion-item>
      <ion-label>Sendedistanz</ion-label>
      <ion-select [(ngModel)]="distance" (ngModelChange)="setServerURL(serverURL)" okText="Ok" cancelText="Abbruch">
        <ion-option value="50">50</ion-option>
        <ion-option value="75">75</ion-option>
        <ion-option value="100en">100</ion-option>
        <ion-option value="125">125</ion-option>
      </ion-select>
    </ion-item>-->
  </ion-list>





</ion-content>